{% load static %}
<html>
<head>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<section>
<h2>ホーム画面</h2>
<p>
  {% if user.is_authenticated %}
    <em>{{ user.username }}でログインしています。</em><br/>
    ログアウトするなら→<a href="{% url 'logout' %}">ログアウト！</a>
  {% else %}
    <em>まだログインしていません。</em><br/>
    ログインは<a href="{% url 'login' %}">こちら</a>
  {% endif %}
</p>

<dl class="flex-container">

{% for post in object_list %}
<div class="flex-item">
  <dt>{{ post.title }}</dt>
  <dd>
    詳細へ：<a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a><br/>
    本文：{{ post.body }}<br/>
    編集：<a href="{% url 'blog_edit' post.pk %}">{{ post.title }}</a><br/>
    削除：<a href="{% url 'blog_delete' post.pk %}">{{ post.title }}</a><br/>
  </dd>
</div>
{% endfor %}

</dl>
</section>
</body>
</html>

